<!DOCTYPE html>
<html>
<head>
	<title>Show Info</title>
</head>
<body>
	<%= session.count %>
	<p>Name: <%= session.user %></p>
	<p>Location: <%= session.location %></p>
	<p>Favorite Language: <%= session.language %></p>
	<p>Comment: <%= session.comment %></p>
</body>
</html>