<h1>Dog Profile</h1>

<button type="button" name="button"><a href="/">Back to Dashboard</a></button>
<button type="button" name="button"><a href="/<%=dog._id%>/edit">Edit Doggie Profile</a></button>
<table>
  <tr>
    <td><label for="">Name:</label></td>
    <td><%=dog.name%></td>
  </tr>
  <tr>
    <td><label for="">Color:</label></td>
    <td><%=dog.color%></td>
  </tr>
  <tr>
    <td><label for="">Age:</label></td>
    <td><%=dog.age%></td>
  </tr>
  <tr>
    <td><label for="">Gender:</label></td>
    <td><%=dog.gender%></td>
  </tr>
  <tr>
    <td><label for="">Favorite Activity:</label></td>
    <td><%=dog.fav_activity%></td>
  </tr>
</table>
